In [1]:
import sys
sys.path.append('../')

from src.scraper import Authenticator, Scraper

%load_ext autoreload
%autoreload 2

In [2]:
# Pass in list [username, password] for automated authentication
auth = Authenticator()

INFO:scraper:Loading parameters..

Enter username:example@gmail.com
Enter password:········

In [3]:
scraper = Scraper(authenticator=auth)

INFO:scraper:Submitting credentials and logging-in

In [4]:
people_search = scraper.search_people(job_title='Executive Chef',
                                      location=['London', 'Manchester'],
                                      industry='Hospitality')

INFO:scraper:Passed following parameters: {'location': ['xpath', "//input[contains(@placeholder, 'country')]", ['London', 'Manchester']], 'industry': ['xpath', "//input[contains(@placeholder, 'industry')]", 'Hospitality'], 'job_title': ['xpath', "//input[@id='search-advanced-title']", 'Executive Chef']}

INFO:scraper:Query returned 519 results

INFO:scraper:Reached last searcheable page..
INFO:scraper:Retrieved profiles

In [5]:
people_search.head()

,URL,Name,Title,Location
0,#,LinkedIn Member,exec chef at ciborestaurants,"Manchester, United Kingdom"
1,https://www.linkedin.com/in/marcin-bialoskorsk...,Marcin Bialoskorski,Executive Chef in SoLita Restaurants,"Manchester, United Kingdom"
2,https://www.linkedin.com/in/jean-philippe-rama...,Jean-Philippe Ramau,Executive Chef chez Gastronomica ME,"London, United Kingdom"