In [1]:
import sys
sys.path.append('../')

from src.scraper import Authenticator, Scraper
# from bs4 import BeautifulSoup

%load_ext autoreload
%autoreload 2

In [2]:
# Leave credentials blank for password prompt

auth = Authenticator(credentials=open('creds.secret').read().split('\n'))

INFO:scraper:Loading parameters..

In [3]:
scraper = Scraper(authenticator=auth)

INFO:scraper:Submitting credentials and logging-in

In [4]:
people_search = scraper.search_people(job_title='Executive Chef', location='Manchester', industry='Hospitality')

INFO:scraper:Passed following parameters: {'location': ['xpath', "//input[contains(@placeholder, 'country')]", 'Manchester'], 'industry': ['xpath', "//input[contains(@placeholder, 'industry')]", 'Hospitality'], 'job_title': ['xpath', "//input[@id='search-advanced-title']", 'Executive Chef']}

INFO:scraper:Query returned 42 results

INFO:scraper:Reached last searcheable page..
INFO:scraper:Retrieved profiles

In [5]:
people_search

,URL,Name,Title,Location
0,#,LinkedIn Member,exec chef at ciborestaurants,"Manchester, United Kingdom"
1,#,LinkedIn Member,Executive Chef at Renaissance Hotel Manchester,"Manchester, United Kingdom"
2,https://www.linkedin.com/in/marcin-bialoskorsk...,Marcin Bialoskorski,Executive Chef in SoLita Restaurants,"Manchester, United Kingdom"