In [1]:
import sys
sys.path.append('../')

from src.scraper import Authenticator, Scraper
from bs4 import BeautifulSoup

In [2]:
# Leave credentials blank for password prompt

auth = Authenticator(credentials=open('creds.secret').read().split('\n'))

INFO:scraper:Loading parameters..

In [3]:
scraper = Scraper(authenticator=auth)

INFO:scraper:Submitting credentials and loging-in

In [4]:
people_search = scraper.search_people(job_title='Executive Chef', location='London', industry='hospitality')

INFO:scraper:Passed following parameters: {'location': ['xpath', "//input[contains(@placeholder, 'country')]", 'London'], 'industry': ['xpath', "//input[contains(@placeholder, 'industry')]", 'hospitality'], 'job_title': ['xpath', "//input[@id='search-advanced-title']", 'Executive Chef']}
INFO:scraper:Retrieved profiles

In [14]:
people_search['company'] = people_search.Title.str.split('at',expand=True)[1]

In [16]:
people_search.head()

,URL,Name,Title,Location,company
0,https://www.linkedin.com/in/vitelio-reyes-0b51...,Vitelio Reyes,Executive Chef at Amazonico London,"London, United Kingdom",Amazonico London
1,https://www.linkedin.com/in/denis-cogan-52055346/,Denis Cogan,Executive Chef at BaxterStorey,"London, United Kingdom",BaxterStorey
2,#,LinkedIn Member,Executive Chef at CH&Co,"London, United Kingdom",CH&Co
3,#,LinkedIn Member,Executive Chef at TLC Inns,"London, United Kingdom",TLC Inns
4,#,LinkedIn Member,Executive Chef at Orfali,"London, United Kingdom",Orfali